<section>

  <div class="row" style="padding: 10px">

    <span>
      <mat-checkbox></mat-checkbox>
      By providing your mobile phone number(s) above, you authorize us to call and/or text you at that/those number(s)
      by
      any means regarding your membership, your accounts, and other important information. If you prefer that we do not
      call you at the mobile phone number(s) you provided, please “uncheck” this box. Review the full disclosure here.
    </span>
  </div>
  <div class="row" style="padding: 10px">
    <span>
      <mat-checkbox></mat-checkbox>
      Allow us to market only the best to you! May we call/text you to chat about our products?
    </span></div>
</section>