<section>
    <div class="row" *ngIf="!post; else forminfo" novalidate>

        <form>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <input matInput placeholder="How long have you been unemployed?*" required />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field>
                    <input matInput placeholder="Months">
                </mat-form-field>
            </div>
        </div>

        <!-- Your Title -->
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <input matInput placeholder="Your Title" required />
                </mat-form-field>
            </div>
        </div>

        <!-- zip code-->
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <input matInput placeholder="Zip Code*" required />
                </mat-form-field>
            </div>
        </div>
        </form>
    </div>
</section>