<section>
    <!-- years-->
    <div class="row">
        <div class="col">
            <mat-form-field>
                <input matInput placeholder="How Long have you been self-employed" required>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- months-->
            <mat-form-field>
                <input matInput placeholder="Months">
            </mat-form-field>
        </div>
    </div>

    <!-- Business Name -->
    <div class="row">
        <div class="col">
            <mat-form-field>
                <input matInput placeholder="Business Name" required>
            </mat-form-field>
        </div>
    </div>

    <!-- what type of business-->
    <div class="row">
        <div class="col">
            <mat-form-field>
                <input matInput placeholder="What type of business?*" required>
            </mat-form-field>
        </div>
    </div>

    <!-- title-->
    <div class="row">
        <div class="col">
            <mat-form-field>
                <input matInput placeholder="What is your title?*" required>
            </mat-form-field>
        </div>
    </div>

</section>