<section>
    <div class="row">
        <div class="col">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1"> Part time student </mat-radio-button>
                <mat-radio-button value="2">Full time student</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>           

    <!-- school name -->
    <div class="row">
        <div class="col">
            <mat-form-field>
                <input matInput placeholder="School Name" required>
            </mat-form-field>
        </div>
    </div>

    <!-- zip code -->
    <div class="row">
        <div class="col">
            <mat-form-field>
                <input matInput placeholder="School Zip Code" required>
            </mat-form-field>
        </div>
    </div>

    <!-- school name -->
    <div class="row">
        <div class="col">
            <mat-form-field>
                <input matInput placeholder="Graduation Date" required>
            </mat-form-field>
        </div>
    </div>

</section>