
<div class="row">
            <!-- number-->
            <mat-form-field>
                <input  matInput placeholder="Number" required>
            </mat-form-field>

            <!-- Your Title -->
            <mat-form-field>
                <input matInput placeholder="State" required>
            </mat-form-field>

            <!-- zip code-->
            <mat-form-field>
                <input  matInput placeholder="Zip Code*" required>
            </mat-form-field>
 </div>

