<section>
    <div class="row">
        <div class="col">
            <!--last employer-->
            <mat-form-field>
                <input matInput placeholder="Last Employer*" required>
            </mat-form-field>
        </div>
    </div>

    <!--last employer-->
    <div class="row">
        <div class="col">
            <mat-form-field>
                <input matInput placeholder="What was your profession?" required>
            </mat-form-field>
        </div>
    </div>
</section>

